/* custom */
section[data-id="1"] {
    background-color: #f38dbc;
}
section[data-id="2"] {
    background-color: #3498db;
}
section[data-id="3"] {
    background-color: #ff8c81;
}
section[data-id="4"] {
    background-color: #40d47e;
}
.box1 {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 140px; top: 20px;
}
.box2 {
    width: 200px;
    height: 100px;
    background-color: #8e44ad;
    position: absolute;
    left: 60px; top: 226px;
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: #34495e;
    position: absolute;
    left: 160px; top: 226px;
}
.box4 {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    position: absolute;
    left: 185px; top: 250px;
}
/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
    z-index: 9;
}
.start b{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(../img/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}