<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <title>最佳CP人气榜</title>
    <link rel="stylesheet" href="css/main.css?v=14">
    <script>
        (function(win) {
            var doc = win.document, docEl = doc.documentElement, dpr = 1, tid;

            docEl.setAttribute('data-dpr', dpr);

            function refreshRem(){
                var width = docEl.getBoundingClientRect().width;
                if (width / dpr > 750) {
                    width = 750 * dpr;
                }
                var rem = width / 10;
                docEl.style.fontSize = rem + 'px';
                win.rem = rem;
                fixRem();
            }

            win.addEventListener('resize', function() {
                clearTimeout(tid);
                tid = setTimeout(refreshRem, 300);
            }, false);

            refreshRem();
            
            if (doc.readyState === 'complete') {
                fixRem();
            } else {
                doc.addEventListener('DOMContentLoaded', function(e) {
                    fixRem();
                }, false);
            }

            function fixRem(){
                //修正华为安卓1rem计算不准确的bug
                if(!doc.body) return;
                var ele = doc.createElement('div'), w;
                ele.style.cssText = 'position: fixed;left: -1rem;top: 0;width: 1rem;height: 1px';
                doc.body.appendChild(ele);
                w = ele.getBoundingClientRect().width;
                if(w != win.rem){
                    var rem = Math.round(win.rem/w*win.rem);
                    docEl.style.fontSize = rem + 'px';
                    win.rem = rem;
                }
                doc.body.removeChild(ele);
            }
        })(window);
    </script>
</head>

<body ontouchstart="">
    <div class="wrap scroll-active" id="wrap">
        <div class="above" id="above">
            <!--根据是否过期显示内柔-->
        </div>
        <div class="below" id="below">
            <div class="rank">
                <div class="rank-now"></div>
                <ul class="rank-ul" id="listWrap"></ul>
            </div>
            <img class="hold" src="img/hold-text.png" width="100%" alt="举办方">
        </div>
    </div>
    <script type="text/html" id="headTpl">
        <% if ( obj.all ) { %>
        <div class="unit all"></div>
        <% } else { %>
        <div class="unit"><span id="current"></span></div>
        <% } %>
        <% if ( obj.all ) { %>
        <div class="timepass"><p>本期活动已结束</p><p>感谢您的参与</p></div>
        <% } else { %>
        <% if ( obj.status == 0 ) { %>
        <div class="timepass"><p>本期活动已结束</p><p>下期活动即将开始</p></div>
        <% } else { %>
        <div class="countdown">
            <span class="hour" id="hour">00</span>
            <span class="minute" id="minute">00</span>
            <span class="second" id="second">00</span>
        </div>
        <% } %>
        <% } %>
        <% if ( utils.isHello() ) { %>
        <div class="chance">今日还有<span class="number"><span id="chance">0</span>次</span>投票机会</div>
        <div class="ruleAshare">
            <div class="rule"></div>`   
            <div class="share"></div>
        </div>
        <% } %>
    </script>
    <script type="text/html" id="listTpl">
        <li class="rank-begin"></li>
        <% var size = 4; %>
        <% for ( var i = 0, len = obj.list.length; i < len; i++ ) { %>
        <li class="rank-li rank-li-<%= i+1 %>" data-id="<%= obj.list[i].cphelloid %>">
            <div class="rank-num"><span class="rank-number">No.<%= i+1 %></span><span class="clear-cell"></span></div>
            <div class="rank-intro">
                <div class="rank-avatar">
                    <div class="rank-avatar-left"><img src="<%= obj.list[i].avatar0.replace(/https?\:/, '') %>" width="100%" alt="" /></div>
                    <div class="rank-avatar-right"><img src="<%= obj.list[i].avatar1.replace(/https?\:/, '') %>" width="100%" alt="" /></div>
                </div>
                <div class="rank-name">
                    <span class="rank-nameL"><%- obj.list[i].name0 %></span>
                    <span class="rank-nameR"><%- obj.list[i].name1 %></span>
                </div>
                <!-- 1-3才有 -->
                <% if ( i < 3 ) { %>
                <div class="rank-intro-starL"></div>
                <div class="rank-intro-starR"></div>
                <% } %>
                <!-- end -->
            </div>
            <% if ( obj.all ) { %>
            <div class="rank-history-status">
                <p><span class="rank-history-love"></span></p>
                <p><span class="rank-history-voteNum"><%= obj.list[i].vote %></span></p>
            </div>
            <% } else { %>
            <div class="rank-status">
                <% if ( utils.isHello() ) { %>
                <% if ( obj.status == 0 ) { %>
                <div class="rank-vote voted"><span>已结束</span></div>
                <% } else { %>
                <% if ( obj.list[i].votestatus == 0 ) { %>
                <div class="rank-vote"><span>投票</span></div>
                <% } else { %>
                <div class="rank-vote voted"><span>已投票</span></div>
                <% } %>
                <% } %>
                <% } else { %>
                <div class="rank-vote"><span>投票</span></div>
                <% } %>
                <div class="rank-count">
                    <span class="rank-love"></span><span class="rank-voteNum" data-vote="<%= obj.list[i].vote %>"><%= obj.list[i].vote %></span>
                </div>
            </div>
            <% } %>
            <div class="line"></div>
        </li>
        <% } %>
        <% if ( len >= size ) { %><li class="rank-btnBg"><span class="rank-btn list-btn <%= len > size ? 'opened':'' %>"></span></li><% } %>
        <li class="rank-end"></li>
    </script>
    <script type="text/html" id="historyTpl">
        <li class="rank-begin"></li>
        <!--历史榜单才有-->
        <li class="rank-history-wrap">
            <div class="rank-history-select">
                <span class="rank-select-text"><span class="rank-select-cell">第<%= utils.numToChinese(obj.type+'') %>期</span></span>
                <span class="rank-select-btn"></span>
            </div>
            <ul class="rank-select-ul none" id="rank-select-ul">
                <% for ( var j = 0; j < obj.all; j++ ) { %>
                <li class="rank-select-li">第<%=utils.numToChinese(j+1+'')%>期</li>
                <% } %>
            </ul>
        </li>
        <!--end-->
        <% var size = 3; %>
        <% for ( var i = 0, len = obj.data.length; i < len; i++ ) { %>
        <li class="rank-li rank-li-<%= i+1 %>">
            <div class="rank-num"><span class="rank-number">No.<%= i+1 %></span><span class="clear-cell"></span></div>
            <div class="rank-intro">
                <div class="rank-avatar">
                    <div class="rank-avatar-left"><img src="<%= obj.data[i].avatar0.replace(/https?\:/, '') %>" width="100%" /></div>
                    <div class="rank-avatar-right"><img src="<%= obj.data[i].avatar1.replace(/https?\:/, '') %>" width="100%" /></div>
                </div>
                <div class="rank-name">
                    <span class="rank-nameL"><%- obj.data[i].name0 %></span>
                    <span class="rank-nameR"><%- obj.data[i].name1 %></span>
                </div>
                <% if ( i < 3 ) { %>
                <!-- 1-3才有 -->
                <div class="rank-intro-starL"></div>
                <div class="rank-intro-starR"></div>
                <!-- end -->
                <% } %>
            </div>
            <div class="rank-history-status">
                <p><span class="rank-history-love"></span></p>
                <p><span class="rank-history-voteNum"><%= obj.data[i].vote %></span></p>
            </div>
            <div class="line"></div>
        </li>
        <% } %>
        <% if ( len >= size ) { %><li class="rank-btnBg"><span class="rank-btn history-btn <%= len > size ? 'opened':'' %>"></span></li><% } %>
        <li class="rank-end"></li>
    </script>
    <script type="text/html" id="dialogTpl">
        <div class="q-dialog">
            <div class="q-dialog-main show">
                <div class="q-dialog-bg">
                    <div class="q-title"><%=obj.title%></div>
                    <div class="q-ft">
                        <% if ( obj.type == 1 ) { %>
                        <a href="javascript:;" class="q-btn q-btn-cancel">返回</a>
                        <a href="http://hello.yy.com" class="q-btn-download">立即下载</a>
                        <% } else if ( obj.type == 2 ) { %>
                        <a href="javascript:;" class="q-btn q-btn-ok">我知道了</a>
                        <% } else if ( obj.type == 3 ) { %>
                        <a href="http://hello.yy.com" class="q-btn-ok">立即下载</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="shareTpl">
        <div class="q-dialog">
            <div class="q-dialog-main show">
                <div class="q-dialog-bg">
                    <span class="q-dialog-close"></span>
                    <ul class="q-dialog-share">
                        <li class="q-dialog-li">
                            <p class="q-dialog-img"><img src="img/share-friends.png" width="100%"></p>
                            <p class="q-dialog-shareWord">微信朋友圈</p>
                        </li>
                        <li class="q-dialog-li">
                            <p class="q-dialog-img"><img src="img/share-wx.png" width="100%"></p>
                            <p class="q-dialog-shareWord">微信好友</p>
                        </li>
                        <li class="q-dialog-li">
                            <p class="q-dialog-img"><img src="img/share-wb.png" width="100%"></p>
                            <p class="q-dialog-shareWord">微博</p>
                        </li>
                        <li class="q-dialog-li">
                            <p class="q-dialog-img"><img src="img/share-qq.png" width="100%"></p>
                            <p class="q-dialog-shareWord">QQ好友</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="ruleTpl">
        <div class="q-dialog">
            <div class="q-dialog-main rule">
                <div class="q-dialog-bg">
                    <span class="q-dialog-close"></span>
                    <div class="q-rule-wrap">
                        <ul class="">
                            <li class="q-rule-li">
                                <span class="q-rule-circle">1</span>活动说明：
                            </li>
                            <li class="q-rule-li">通过投票的方式为线上48小时CP活动成功牵手的CP加油送祝福，帮他们赢取属于他们的48小时恋爱基金。</li>
                            <li class="q-rule-li">
                                <span class="q-rule-circle">2</span>投票时间：<span class="q-rule-bg1">11月1日-11月27日</span>按期开启投票通道，每期投票持续<span class="q-rule-bg1">48小时，共4期</span>，
                            </li>
                            <li class="q-rule-li">具体时间以每期活动上线时间为准。</li>
                            <li class="q-rule-li">
                                <span class="q-rule-circle">3</span>投票规则：
                            </li>
                            <li class="q-rule-li">1）每个用户设备及账号<span class="q-rule-bg1">每天拥有3次</span>投票机会，每次只能投给一组cp，每天最多可以投给3组cp。</li>
                            <li class="q-rule-li">2）每组CP排列顺序根据实时最高票数顺序排列，投票结果以每期活动结束时票数为准。</li>
                            <li class="q-rule-li">3）<span class="q-rule-bg1">投票一旦提交后不可更改</span>。</li>
                            <li class="q-rule-li">4）每月最佳cp排名：截止到11月27日投票活动结束，将把所有参赛CP按<span class="q-rule-bg1">票数高低进行排名</span>，票数排名前三的CP将获得当月最佳CP恋爱基金奖励（无需再次投票）。</li>
                            <li class="q-rule-li">5）历史人气榜最多仅展示前10名票数    。</li>
                            <li class="q-rule-li">
                                <span class="q-rule-circle">4</span>投票入口：
                            </li>
                            <li class="q-rule-li">1）超级课程表用户：在超级课程表APP中，工具箱页面顶部，点击【更多】可看到<span class="q-rule-bg1">语音聊天室入口</span>，点击页面右下方【我】，<span class="q-rule-bg1">找到【活动中心】</span>，点击进入即可进行投票。</li>
                            <li class="q-rule-li">2）Hello用户：在Hello语音APP中，左上角个人页的【活动中心】找到投票页面即可进行投票（低于3.8.2版本的用户需更新至Hello最新版本方可进行投票）。</li>
                            <li class="q-rule-li">
                                <span class="q-rule-circle">5</span>活动奖励：
                            </li>
                            <li class="q-rule-li tc"><span class="pl q-rule-bg2">每期最佳CP奖励:</span></li>
                            <li class="q-rule-li tc"><span class="w300 tl">第一名：520元恋爱基金</span></li>
                            <li class="q-rule-li tc"><span class="w300 tl">第二名：300元恋爱基金</span></li>
                            <li class="q-rule-li tc"><span class="w300 tl">第三名：131.4元恋爱基金</span></li>
                            <li class="q-rule-li tc"><span class="pl q-rule-bg3">当月最佳CP奖励:</span></li>
                            <li class="q-rule-li tc"><span class="w300 tl">第一名：1314元恋爱基金</span></li>
                            <li class="q-rule-li tc"><span class="w300 tl">第二名：999元恋爱基金</span></li>
                            <li class="q-rule-li tc"><span class="w300 tl">第三名：520元恋爱基金</span></li>
                            <li class="q-rule-li">
                                <span class="q-rule-circle">6</span>奖励领取时间：每期投票结束后的15天内，会有相关工作人员联系您进行奖励发放。
                            </li>
                            <li class="q-rule-li">
                                <span class="q-rule-circle">7</span>本次活动的所有数据统计均以hello语音活动组织方的统计为准，如被发现有违规行为（如恶意刷票等违反活动公平性的问题），Hello语音组织方将取您本次活动资格，并取消您的奖励资格。
                            </li>
                            <li class="q-rule-li">
                                <span class="q-rule-circle">8</span>如有任何疑问，可加入本次活动<span class="q-rule-bg1">QQ群341333216</span>。
                            </li>
                            <li class="q-rule-footer">本次活动最终解释权归Hello语音所有</li>
                        </ul>
                    </div>
                </div>
                <div class="q-dialog-rules"></div>
            </div>
        </div>
    </script>

    <script src="/assets/js/zepto.min.js"></script>
    <script src="https://hstatic.weihuitel.com/helloktv/public/js/client/KTVWeb.min.js"></script>
    <script src="js/main.js?v=12"></script>
    <script src="/assets/public/js/baidu/act.js"></script>
</body>
</html>